<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>UTM DMS Converter</title>
</head>

<body>
  <nav>
    <a href="/">Home</a>
  </nav>
  {% block content %}{% endblock %}
</body>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>