{% extends "base.html" %} {% block content %}
<h1 class="header">Convert from UTM to Latitude & Longitude</h1>

<form action="/utm-latlon/" method="POST">
  <label for="lon"
    >Your Longitude:
    <input type="number" step="any" name="lon" id="lon" required />
  </label>
  <label for="easting"
    >Easting:
    <input type="number" step="any" name="easting" id="easting" required />
  </label>
  <label for="northing"
    >Northing:
    <input type="number" step="any" name="northing" id="northing" required />
  </label>
  <input type="submit" value="Convert" />
</form>

{% if output %}
<div class="output">
  <div><strong>Latitude:</strong> {{ output[0] }}</div>
  <div><strong>Longitude:</strong> {{ output[1] }}</div>
</div>
{% endif %} {% endblock %}
