{% extends "base.html" %}
{% block content %}
<h1 class="header">Convert from UTM to DMS</h1>

<form action="/utm-dms/" method="POST">
  <label for="zone">Zone:
    <input type="number" step="any" name="zone" id="zone" required>
  </label>
  <label for="easting">Easting (m):
    <input type="number" step="any" name="easting" id="easting" required>
  </label>
  <label for="northing">Northing (m):
    <input type="number" step="any" name="northing" id="northing" required>
  </label>
  <input type="submit" value="Convert">
</form>

{% if output %}
<div class="output">
  <div><strong>Degrees (°):</strong> {{ output[0] }}</div>
  <div><strong>Minutes (′), Seconds (″):</strong> {{ output[1] }}</div>
</div>
{% endif %}
{% endblock %}